*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 20px 0;
}

header, main {
    display: grid;
    place-items: center;
}

#canvas {
    border: 1px solid #000;
}

button {
    outline: 0;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 25px;
    margin: 20px;
}

button:hover, button:focus {
    background: black;
    color: white;
}
